.title-cards {
  margin-top: -50px;
  margin-bottom: -30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.card-list{
  display: flex;
  gap: 10px;
  overflow-x: scroll; 
}

.card-list::-webkit-scrollbar { /* This allows us to hide the scrollbar and keep the functionality */
  display: none;
}

.card-list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}

.card-list .card p { /* Allows us to put the p text on top of the card class object*/
  position: absolute;
  bottom: 1px;
  right: 10px;
}


